h1,
h2,
h3 {
  margin: 30px 30px;
  font-family: Arial, "Times New Roman", Times, serif;
}

h1 {
  color: #090808;
  top: 30;
  position: relative;
  font-weight: 300;
}

input {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 3%);
  height: 34px;
  padding: 10px;
  margin: 30px 30px;
  width: 300px;
  border-radius: 20px;
  text-align: right;
  border-color: blueviolet;
  top: 0px;
  float: text-align;
}
ul {
  list-style-type: none;
}

.weather_serchbar {
  text-align: center;
  width: 200px;
}

.date-time {
  color: #333;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  padding-left: 10px;
  position: relative;
}

.temperature {
  color: #090808;
  float: left;
  font-size: 34px;
  font-weight: 300;
  line-height: 1;
  padding-left: 10px;
}

.current {
  color: #333;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

#forecast {
  text-align: center;
}
.search-form {
  margin-bottom: 20px;
}
